<div class="govuk-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title">Identity Check: <b>{{ details_data.firstName }} {{ details_data.lastName }}</b>
                    {% if details_data.personType == 'certificateProvider' %}
                        (certificate provider)
                    {% else %}
                        (donor)
                    {% endif %}
                </span>
            </div>
            <div class="moj-identity-bar__actions">
                <div class="govuk-!-static-margin-top-2">
                    <a
                        href="{{ ('./abandon-flow?last_page=' ~ path()) | basepath }}"
                        role="button"
                        draggable="false"
                        class="govuk-link govuk-!-font-size-16"
                        data-module="govuk-button"
                    >
                        Exit ID Check
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
