{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <section class="govuk-!-width-two-thirds">
        <div class="moj-alert moj-alert--success" role="region" aria-label="Success">
            <svg class="moj-alert__icon" fill="currentColor" role="presentation" focusable="false"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/>
            </svg>
            <div class="moj-alert__content">
                {% block title %}
                    Identity check passed.
                {% endblock %}
            </div>
        </div>
    </section>
    <section class="govuk-!-width-two-thirds">
        <p class="govuk-body">
        <h2 class="govuk-heading-l">
            What happens next?
        </h2>
        </p>
        <p class="govuk-body">
            The person vouching has now completed their step. The next step is we will contact the donor and continue
            the process.
        </p>

        <form method="post">
            <button class="govuk-button" name="return_to_sirius">Finish and return to Sirius</button>
        </form>
    </section>
{% endblock %}
