# OS
.DS_STORE
# editors
.vscode/
.idea
*.iml
# envs
.env
venv/
env/
vendor/
/nbproject/private/
# dev mode files
development.config.php
# ci files
service-api/build
service-front/build
build
.phpunit.cache
.psalm-cache
# vendor files
node_modules
.trivy-cache
