services:
  # MOCKS
  sirius-mock:
    ports:
      - 8088:8080

  yoti-mock:
    ports:
      - 8334:8080

  experian-crosscore-mock:
    ports:
      - 8082:8080

  dwp-mock:
    ports:
      - 8089:8080
  hmpo-mock:
    ports:
      - 8087:8080
  # API
  api:
    volumes:
      - ./service-api:/var/www

  api-web:
    ports:
      - 8001:80

  api-test:
    volumes:
      - ./service-api/config:/var/www/config
      - ./service-api/module:/var/www/module
      - ./service-api/phpcs.xml:/var/www/phpcs.xml
      - ./service-api/phpunit.xml:/var/www/phpunit.xml
      - ./service-api/psalm.xml:/var/www/psalm.xml

  # FRONT
  front:
    volumes:
      - ./service-front:/var/www

  front-test:
    volumes:
      - ./service-front/config:/var/www/config
      - ./service-front/module:/var/www/module
      - ./service-front/phpcs.xml:/var/www/phpcs.xml
      - ./service-front/phpunit.xml:/var/www/phpunit.xml
      - ./service-front/psalm.xml:/var/www/psalm.xml

  # TOOLS
  api-composer:
    image: composer
    command: ["install", "--ignore-platform-reqs"]
    volumes:
      - ~/.composer:/tmp
      - ./service-api:/app

  front-composer:
    image: composer
    command: ["install", "--ignore-platform-reqs"]
    volumes:
      - ~/.composer:/tmp
      - ./service-front:/app

  cypress:
    volumes:
      - ./e2e-tests/cypress:/root/cypress
