services:
  sirius-mock:
    image: paper-identity/sirius-mock
    build:
      context: docker/sirius
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./docker/sirius:/opt/imposter/config

  experian-crosscore-mock:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/paper-identity/experian-crosscore-mock
    build:
      context: docker/experian-crosscore
      dockerfile: Dockerfile
    restart: unless-stopped

  experian-crosscore-auth-mock:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/paper-identity/experian-crosscore-auth-mock
    build:
      context: docker/experian-crosscore-auth
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - "./docker/experian-crosscore-auth/openapi.yml:/usr/src/prism/openapi.yml"

  dwp-mock:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/paper-identity/dwp-mock
    build:
      context: docker/dwp
      dockerfile: Dockerfile
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "imposter", "list", "-x" ]
      interval: 15s
      timeout: 10s
      retries: 3
    volumes:
      - ./docker/dwp:/opt/imposter/config

  yoti-mock:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/paper-identity/yoti-mock
    build:
      context: docker/yoti
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./docker/yoti:/opt/imposter/config

  experian-iiq-mock:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/paper-identity/experian-iiq-mock
    build:
      context: docker/experian-iiq
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./docker/experian-iiq:/opt/imposter/config
    ports:
      - 8335:8080

  api:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/paper-identity/api
    build:
      context: service-api
      dockerfile: Dockerfile
      target: production
    depends_on:
      localstack:
        condition: service_healthy
      experian-iiq-mock:
        condition: service_healthy
      experian-crosscore-auth-mock:
        condition: service_healthy
      experian-crosscore-mock:
        condition: service_healthy
      dwp-mock:
        condition: service_healthy
    entrypoint: /usr/local/bin/docker-php-entrypoint
    command: [ "php-fpm" ]
    env_file: ./service-api/docker-compose.env

  api-test:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/paper-identity/api-test
    build:
      context: service-api
      dockerfile: Dockerfile
      target: development
    depends_on:
      localstack:
        condition: service_healthy
      yoti-mock:
        condition: service_healthy
    entrypoint: /usr/local/bin/docker-php-entrypoint
    command: [ "php-fpm" ]
    env_file: ./service-api/docker-compose.env
    volumes:
      - ./service-api/build:/var/www/build

  front:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/paper-identity/front
    build:
      context: service-front
      dockerfile: Dockerfile
      target: production
    depends_on:
      api-web:
        condition: service_healthy
      sirius-mock:
        condition: service_healthy
    env_file: ./service-front/docker-compose.env
    volumes:
      - static-content:/var/www/public

  front-test:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/paper-identity/front-test
    build:
      context: service-front
      dockerfile: Dockerfile
      target: development
    volumes:
      - ./service-front/build:/var/www/build

  api-web:
    build: nginx
    depends_on:
      api:
        condition: service_healthy
      yoti-mock:
        condition: service_healthy
    environment:
      APP_HOST: api
      APP_NAME: api
      APP_PORT: 9000
      NGINX_LOG_LEVEL: info

  front-web:
    build: nginx
    depends_on:
      front:
        condition: service_healthy
    environment:
      APP_HOST: front
      APP_NAME: front
      APP_PORT: 9000
      NGINX_LOG_LEVEL: info
    ports:
      - 8080:80
    volumes:
      - static-content:/var/www/public

  localstack:
    image: localstack/localstack:4.5
    volumes:
      - "./scripts/localstack/init:/etc/localstack/init/ready.d"
      - "./scripts/localstack/wait:/scripts/wait"
    environment:
      AWS_DEFAULT_REGION: eu-west-1
      DYNAMODB_REMOVE_EXPIRED_ITEMS: 1
    healthcheck:
      test: bash /scripts/wait/healthcheck.sh
      start_period: 10s
      interval: 5s
      timeout: 10s
      retries: 100
    restart: unless-stopped

  cypress:
    build:
      dockerfile: docker/cypress/Dockerfile
    command: [ "--headless", "-b", "electron" ]
    volumes:
      - ./e2e-tests/cypress/screenshots:/root/cypress/screenshots:rw,delegated
    depends_on:
      front-web:
        condition: service_healthy

  trivy:
    image: aquasec/trivy:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.trivy-cache:/root/.cache
      - ./test-results:/test-results
      - ./.trivyignore:/.trivyignore
    environment:
      - TRIVY_DB_REPOSITORY=${TRIVY_DB_REPOSITORY}
      - TRIVY_JAVA_DB_REPOSITORY=${TRIVY_JAVA_DB_REPOSITORY}
      - TRIVY_USERNAME=${DOCKER_USERNAME}
      - TRIVY_PASSWORD=${DOCKER_PASSWORD}

volumes:
  static-content:
