{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="country-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        {% block title %}
                            Choose country
                        {% endblock %}
                    </h1>
                </legend>
                <div class="govuk-form-group">
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
                            We do not accept documents from countries not listed.
                        </strong>
                    </div>
                </div>
                <label for="id_country" class="govuk-heading-m"></label>
                <div id="country-hint" class="govuk-hint">
                    Start typing or choose from the list
                </div>
                {% if form.get('id_country').messages %}
                    <p id="lpa-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{ form.get('id_country').messages | join(', ', ' and ') }}
                    </p>
                {% endif %}
                <div class="govuk-form-group govuk-body govuk-!-width-one-half" id="choose-country">
                    <select class="govuk-select" id="id_country" name="id_country" data-module="app-natural-autocomplete">
                        <option value=""></option>
                        <option value="0">The issuing country is not listed</option>
                        {% for country in countries_data %}
                            <option
                                    value="{{ country.value }}"
                                    {% if form.get('id_country').value == country.value %}selected{% endif %}
                            >
                                {{- country.translate() -}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
        </div>
        <input type="submit" class="govuk-button" value="Continue">
    </form>
{% endblock %}


