{% extends "layout/layout" %}
{% block content %}
    {% include 'layout/id_check_banner.twig' with details_data %}
    <div class="govuk-width-container govuk-!-padding-top-5">
        <form method="POST">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            {% block title %}
                                Choose country
                            {% endblock %}
                        </h1>
                    </legend>
                    <div class="govuk-form-group">
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-visually-hidden">Warning</span>
                                Note: we do not accept documents from countries not listed.
                            </strong>
                        </div>
                    </div>
                    <h2 class="govuk-heading-m">Choose country</h2>
                    <div id="passport-issued-hint" class="govuk-hint">
                        Start typing or choose from the list
                    </div>
                    {% if form.get('country').messages %}
                        <p id="lpa-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{ form.get('country').messages | join(', ', ' and ') }}
                        </p>
                    {% endif %}
                    <div class="govuk-form-group" id="choose-country">
                        <select class="govuk-select" id="country" name="country">
                            <option value=""></option>
                            <option value="0">The issuing country is not listed</option>
                            {% for code, name in countries_data %}
                                <option
                                        value="{{ code }}"
                                        {% if form.get('country').value == code %}selected{% endif %}
                                >
                                    {{ name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>
            </div>
            <input type="submit" class="govuk-button" value="Continue">
        </form>
    </div>
{% endblock %}


