{% include 'layout/id_check_banner.twig' with details_data %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <form method="POST" action="./find-post-office-branch">
                <h1 class="govuk-heading-xl">Find a Post Office</h1>
                <p class="govuk-body govuk-!-width-two-thirds">
                    Not all post offices provide this service, please confirm your postcode so I can find your nearest
                    post
                    office
                </p>

                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input
                                    class="govuk-radios__input"
                                    id="default"
                                    name="postcode"
                                    type="radio"
                                    value="{{ postcode }}"
                                    checked
                                    {#                                data-aria-controls="alt_postcode_div"#}
                            />
                            <label class="govuk-label govuk-radios__label" for="default">
                                {{ postcode }} (default address)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input
                                    class="govuk-radios__input"
                                    id="alternate"
                                    name="postcode"
                                    type="radio"
                                    value="alt"
                                    data-aria-controls="alt_postcode_div"
                            />
                            <label class="govuk-label govuk-radios__label" for="alternate">
                                Alternate postcode
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="alt_postcode_div">
                            <div class="govuk-form-group">
                                <input
                                        class="govuk-input govuk-!-width-one-third"
                                        id="alt_postcode"
                                        name="alt_postcode"
                                        aria-label="Alternate postcode"
                                />
                            </div>
                        </div>
                    </div>
                </fieldset>

                <input type="hidden" name="next_page" value="2">
                <p class="govuk-form-group">
                    <input type="submit" class="govuk-button" value="Continue"/>
                    <a href="#" class="govuk-button govuk-button--secondary">Cancel</a>
                </p>
        </form>
    </main>
</div>
