{% include 'layout/id_check_banner.twig' with details_data %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <h1 class="govuk-heading-xl">Post office route not available?</h1>
        <p class="govuk-body govuk-!-width-two-thirds">

        </p>
        <a href="#" class="govuk-button">Continue</a>
    </main>
</div>
