{% extends "@layout/layout.twig" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">
        {% block title %}
        Post Office route not available?
        {% endblock %}
    </h1>
    <p class="govuk-body govuk-!-width-two-thirds">

    </p>
    <a href="#" class="govuk-button">Continue</a>
{% endblock %}
