{% include 'layout/id_check_banner.twig' with details_data %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <form method="POST">
            <h1 class="govuk-heading-xl">Post Office documents</h1>
            <p class="govuk-body govuk-!-width-two-thirds">You can prove your identity by using our Office of the Public Guardian verification service at the Post Office.
                <br><br></br>You’ll need to take your identity document to a UK post office...
            </p>
            <h2 class="govuk-heading-l govuk-!-width-two-thirds">Which document will be taken to the Post office?</h2>
            <p class="govuk-heading-s">
                Select one
            </p>
            <div class="govuk-form-group">
                <div class="govuk-radios" data-module="govuk-radios">
                    {% for  key, datum in options_data %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="{{ key }}" name="id_method" type="radio"
                                   value="{{ key }}">
                            <label class="govuk-label govuk-radios__label" for="{{ key }}">{{ datum }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <input type="submit" class="govuk-button" value="Continue">
            <a href="#" class="govuk-button govuk-button--secondary">Cancel</a>
        </form>
    </main>
</div>
