{% include 'layout/id_check_banner.twig' with details_data %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <form method="POST">
            <h1 class="govuk-heading-xl">What happens next?</h1>
            <p class="govuk-body govuk-!-width-two-thirds">
                We will send you a letter. When you receive the letter you can take it to your chosen post office location with your chosen ID method to complete the process.

                <br><br>Please do this by the deadline stated.
            </p>
            <a href="#" class="govuk-button">Continue</a>
        </form>
    </main>
</div>
