{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <div class="govuk-!-width-two-thirds">
        <h1 class="govuk-heading-xl">
        {% block title %}
            What happens next?
        {% endblock %}
        </h1>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Read the following to the caller:
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <p class="govuk-body">
                    We will send you a letter to take to the Post Office with your chosen identity document. Wait until
                    you receive the letter before going, and please go within 28 days - the final date will be on the letter.
                </p>

                <p class="govuk-body">
                    If you miss this date then you'll need to call us again to get a new letter.
                </p>

                {% if details_data.personType == 'donor' %}
                    <p class="govuk-body">
                        You must complete your ID check within 6 months of signing the LPA, or the LPA cannot be registered
                        and your payment will not be refunded.
                    </p>

                    <p class="govuk-body">
                        If you haven't already, please return your signed LPA.
                    </p>
                {% elseif details_data.personType == 'certificateProvider' %}
                    <p class="govuk-body">
                        If you haven't already, please return your signed certificate.
                    </p>
                {% endif %}
            </div>
        </div>

        <a href="{{ sirius_url }}" class="govuk-button govuk-!-margin-top-3">Finish and return to Sirius</a>

    </div>

{% endblock %}
