{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">
        {% block title %}
            What happens next?
        {% endblock %}
    </h1>
    <p class="govuk-body govuk-!-width-two-thirds">
        We will send you a letter. When you receive the letter you can take it to your chosen Post Office location
        with your chosen ID method to complete the process.

        <br><br>Please do this by the deadline stated.
    </p>
    <a href="{{ sirius_url }}" class="govuk-button">Continue</a
{% endblock %}
