{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <div class="govuk-!-width-two-thirds">
        <h1 class="govuk-heading-xl">
        {% block title %}
            What happens next?
        {% endblock %}
        </h1>

        <div class="govuk-body ">
            {% if details_data.personType == 'donor' %}
                <p>
                    We will send the donor a letter with the details discussed today. It’s important that they wait for the
                    letter and take it with them to the Post Office along with their chosen identity document.
                </p>
                <p>
                    If they haven’t already, they must return their paper LPA by post to OPG.
                </p>
                <p>
                    The Post Office expect to receive the application within 28 days.
                </p>
                <p>
                    They must complete their ID check within 6 months of signing their LPA or the LPA cannot be registered
                    and the payment will be not be refunded.
                </p>
            {% elseif details_data.personType == 'certificateProvider' %}
                <p>
                    We will send the certificate provider a letter with the details discussed today. It’s important that they
                    wait for the letter and take it with them to the Post Office along with their chosen identity document.
                </p>
                <p>
                    If they haven’t already, they must return their signed ‘certificate’ by post to OPG.
                </p>
                <p>
                    The Post Office expect to receive the application within 28 days.
                </p>
                <p>
                    They must complete their ID check within 6 months of the donor signing the LPA or the LPA cannot be
                    registered and the payment will be not be refunded.
                </p>
            {% elseif details_data.personType == 'voucher' %}
                <p>
                    We will send you a letter with the details discussed today. It’s important to wait for the letter and
                    take it with you to the Post Office along with your identity document.
                </p>
                <p>
                    The Post Office expect to receive the application within 28 days.
                </p>
            {% endif %}

        </div>

        <a href="{{ sirius_url }}" class="govuk-button govuk-!-margin-top-3">Finish and return to Sirius</a>

    </div>

{% endblock %}
