$moj-assets-path: "../assets/";
$govuk-assets-path: "../assets/";

@import "node_modules/govuk-frontend/dist/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";

.govuk-panel--error {
  background-color: #AA2A16;
  color: #FFF;
}

.moj-banner--date {
  max-width: 150px;
}

.app-inset-text-blue {
  @include govuk-font($size: 16);
  color: $govuk-text-colour;
  padding: govuk-spacing(3);
  margin-top: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
  border-left: 7px solid #1D70B8;
  clear: both;
}

.app-text-gray {
  color: $govuk-secondary-text-colour;
}

.app-main-wrapper {
  padding-top:1px;
  padding-bottom:40px;
}

.app-moj-banner {
  border: 2px solid !important;
  padding:5px;
  margin-bottom:10px;
}

.app-button--align-baseline {
  vertical-align: baseline !important;
}

.table-header {
  background-color: $govuk-border-colour;
}
