$moj-assets-path: "../assets/";
$govuk-assets-path: "../assets/";

@import "node_modules/govuk-frontend/dist/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";

.govuk-panel--error {
  background-color: #AA2A16;
  color: #FFF;
}

.moj-banner--date {
  max-width: 150px;
}

.govuk-inset-text-blue {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  border-left: 2px solid #1d70b8;
  background-color: #f3f2f1;
}

.govuk-main-wrapper-custom {
  display: block;
  padding-bottom: 40px;
}
