<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <form method="POST">
            <h1 class="govuk-heading-xl govuk-!-width-two-thirds">Does the address on the ID document match the address
                in Sirius?</h1>

            <p class="govuk-body govuk-!-width-two-thirds">
                To perform the fraud and identity checks, a check is made against the
                certificate provider's home address.
            </p>

            <p class="govuk-body govuk-!-width-two-thirds">
                In the role of certificate provider, they might have registered a business or
                professional address with us.
            </p>
            <p class="govuk-body govuk-!-width-two-thirds">
                We need to either confirm the Sirius record is their home address or capture it
                on the next page.
            </p>

            <div class="govuk-inset-text app-inset-text-blue govuk-!-width-two-thirds">
                <h2 class="govuk-heading-m">Sirius Record</h2>
                <h3 class="govuk-heading-s">Address</h3>

                <p class="govuk-body">
                    {% for line in details_data.address %}
                        {{ line }}<br>
                    {% endfor %}
                </p>
            </div>

            <div class="govuk-form-group govuk-!-width-two-thirds">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h3 class="govuk-fieldset__heading">
                            Is this the address for the chosen ID document?
                        </h3>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="chosenAddressYes" name="chosenAddress" type="radio"
                                   value="yes">
                            <label class="govuk-label govuk-radios__label" for="chosenAddressYes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="chosenAddressNo" name="chosenAddress" type="radio"
                                   value="no">
                            <label class="govuk-label govuk-radios__label" for="chosenAddressNo">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>

            </div>
            <input type="submit" class="govuk-button" value="Continue">
        </form>
    </main>
</div>
