{% include 'layout/id_check_banner.twig' with details_data %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-width-two-thirds">
        <form method="POST">
            <h1 class="govuk-heading-xl">LPAs included in the identity check</h1>

            <p class="govuk-body">
                Certificate providers may be on more than 1 LPA and may want to confirm their identity for multiple LPAs at the same time.
            </p>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                LPA List
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        LPA reference number
                                    </dt>
                                    <dt class="govuk-summary-list__key">
                                        Donor
                                    </dt>
                                    <dt class="govuk-summary-list__key">
                                        Action
                                    </dt>
                                </div>
                                {% for datum in lpas %}
                                    <div class="govuk-summary-list__row">
                                        <dd class="govuk-summary-list__value">
                                            {{ datum.lpa_ref }}
                                        </dd>
                                        <dd class="govuk-summary-list__value">
                                            {{ datum.donor_name }}
                                        </dd>
                                        <dd class="govuk-summary-list__value">
                                            <a href="">Remove</a>
                                        </dd>
                                    </div>
                                {% endfor %}
                                <div class="govuk-summary-list__row">
                                    <dd class="govuk-summary-list__value">
                                    </dd>
                                    <dd class="govuk-summary-list__value">
                                    </dd>
                                    <dd class="govuk-summary-list__value">
                                        <a
                                                href="./add-lpa"
                                                class="govuk-button govuk-button--secondary"
                                        >
                                            Add Another LPA
                                        </a>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </fieldset>
            </div>
            <a href="confirm-dob" class="govuk-button">Continue</a>
        </form>
    </main>
</div>

