{% extends "layout/layout" %}
{% block content %}
{% include 'layout/id_check_banner.twig' with details_data %}
<div class="govuk-width-container govuk-!-padding-top-5">

        <h1 class="govuk-heading-xl">{% block title %}Does the name match the ID?{% endblock %}</h1>

        <p class="govuk-body">
            The certificate provider’s name that is recorded in Sirius should be identical <br/> to how it is printed on the ID document they have chosen to prove their <br/> identity with. If there is a mis-match, amend in Sirius as appropriate.
        </p>

        <div class="app-inset-text-blue govuk-inset-text govuk-!-width-two-thirds">
            <h2>
                Sirius record
            </h2>
            <h3>
                Name
            </h3>
            <p>
                {{ details_data.firstName }} {{ details_data.lastName }}
            </p>
            <a href="">Edit the certificate provider's details in Sirius</a><br><br>

            <a href="">Update this page</a> (if you've changed the record in Sirius)
        </div>
        <a href="./confirm-lpas" class="govuk-button">Continue</a>

</div>
{% endblock %}
