{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}

    <section class="govuk-!-width-full">

        <div class="moj-alert moj-alert--success" role="region" aria-label="Success">
            <svg class="moj-alert__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path>
            </svg>
            <div class="moj-alert__content">Court of Protection decision has been recorded</div>
        </div>

        <h1 class="govuk-heading-m">{% block title %}What happens next?{% endblock %}</h1>

        <ol class="govuk-list govuk-list--bullet govuk-!-width-two-thirds">
            <li>
                Post your signed LPA to us
                <br/><br/>
            </li>
            <li>
                We will complete the checks and get the certificate provider and attorneys to complete their part
                <br/><br/>
            </li>
            <li>
                At the end of the 4-week waiting period, we will write to  you with guidance about getting your LPA reviewed by the Court of Protection
                <br/><br/>
            </li>
        </ol>

        <a href="{{ sirius_url }}" class="govuk-button">Finish and return to Sirius</a>

    </section>
{% endblock %}
