{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <div class="govuk-!-width-two-thirds">
        <h1 class="govuk-heading-xl moj-hidden">{% block title %}National Insurance number{% endblock %}</h1>
        <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
            <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/>
            </svg>
            <div class="moj-banner__message">Identity document verified</div>
        </div>

        <p class="govuk-body">
            <a href="./id-verify-questions" class="govuk-button">Continue</a>
        </p>

        <p class="govuk-body">
            <a href="./how-will-you-confirm" class="govuk-link">
                I need to prove my identity another way
            </a>
        </p>
    </div>
{% endblock %}
