{% extends "@layout/layout.twig" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <div class="govuk-!-width-two-thirds">
        <h1 class="govuk-heading-xl moj-hidden">{% block title %}Identity document verified{% endblock %}</h1>
        <div class="moj-alert moj-alert--success" role="region" aria-label="Success">
            <svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
                <path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
            </svg>
            <div class="moj-alert__content">Identity document verified</div>
        </div>

        <p class="govuk-body">
            <a href="./id-verify-questions" class="govuk-button">Continue</a>
        </p>
    </div>
{% endblock %}
