{% extends "layout/layout" %}
{% block content %}
    {% include 'layout/id_check_banner.twig' with details_data %}
    <div class="govuk-width-container govuk-!-padding-top-5">
        <h1 class="govuk-heading-xl">{% block title %}Is the donor prepared to perform the ID check?{% endblock %}</h1>

        <p class="govuk-body">
            Things to check:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                How will they ID?
            </li>
            <li>
                Do they have their ID document with them?
            </li>
            <li>
                Does the name / dob on their ID document match what is in Sirius
            </li>
            <li>
                Are they ready to answer any questions they might have?
            </li>
        </ul>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  ID over the phone
                </span>
            </summary>
            <div class="govuk-details__text">
                {% for datum in options_data %}
                    <h2 class="govuk-heading-m">{{ datum }}</h2>
                {% endfor %}
            </div>
        </details>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      ID in person at the Post Office
                    </span>
            </summary>
            <div class="govuk-details__text">
            </div>
        </details>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      No ID: choose someone to vouch (donor only)
                    </span>
            </summary>
            <div class="govuk-details__text">
            </div>
        </details>
        <a href="./donor-lpa-check" class="govuk-button">Continue</a>
        <button href="" class="govuk-button govuk-button--secondary">Cancel</button>
    </div>
{% endblock %}
