{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl moj-hidden">{% block title %}UK Driving Licence{% endblock %}</h1>
    <div class="moj-banner moj-banner--warning" role="region" aria-label="Warning">
        <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"/>
        </svg>
        <div class="moj-banner__message">Unable to verify driving licence number. Try a different
            method.
        </div>
    </div>
    <h3 class="govuk-heading-m">Name</h3>
    <p class="govuk-body">
        {{ details_data.firstName }} {{ details_data.lastName }}
    </p>
    <h3 class="govuk-heading-m">Date of Birth</h3>
    <p class="govuk-body">
        {{ details_data.dob }}
    </p>
    <h3 class="govuk-heading-m">Driving licence number</h3>
    <p class="govuk-body">
        {{ dln_data.dln }}
    </p>
    <h3 class="govuk-heading-m">Driving licence in date</h3>
    <p class="govuk-body">
        Yes
    </p>

    <div class="govuk-button-group">
        <a href="./how-will-you-confirm" role="button" draggable="false"
            class="govuk-button govuk-button--secondary"
            data-module="govuk-button">
            Try a different method
        </a>
    </div>
{% endblock %}
