<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <form method="POST">
            <h1 class="govuk-heading-xl">Choose how to prove their identity</h1>

            <h2 class="govuk-heading-m">Preferred: ID over the phone</h2>
            <div class="govuk-form-group">
                <div class="govuk-radios" data-module="govuk-radios">
                    {% for key, datum in options_data %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="{{ key }}" name="id_method" type="radio"
                                   value="{{ key }}">
                            <label class="govuk-label govuk-radios__label" for="{{ key }}">{{ datum }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="govuk-form-group">
                <h2 class="govuk-heading-m">If unable to ID over the phone: ID in person at the post office</h2>


                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="PostOffice" name="id_method" type="radio"
                           value="PostOffice">
                    <label class="govuk-label govuk-radios__label" for="PostOffice">
                        Post Office (current UK / EU international passport or UK driving licence)
                    </label>
                </div>
            </div>
            <input type="submit" class="govuk-button" value="Continue">
        </form>
    </main>
</div>
