{% extends "layout/layout" %}
{% block content %}
    {% include 'layout/id_check_banner.twig' with details_data %}
    <div class="govuk-width-container govuk-!-padding-top-5 govuk-!-width-two-thirds">
        <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
            <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/>
            </svg>
            <div class="moj-banner__message">
                {% block title %}
                    Identity check passed.
                {% endblock %}
            </div>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Did the

                                {% if details_data.personType == 'certificateProvider' %}
                                    certificate provider
                                {% else %}
                                    donor
                                {% endif %}

                                have assistance from a friend or family member on this call?
                            </h1>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input
                                        class="govuk-radios__input"
                                        id="conditional-assistance-1"
                                        name="assistance"
                                        type="radio"
                                        value="no"
                                >
                                <label
                                        class="govuk-label govuk-radios__label"
                                        for="conditional-assistance-1"
                                >
                                    No
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input
                                        class="govuk-radios__input"
                                        id="conditional-assistance-2"
                                        name="assistance"
                                        type="radio"
                                        value="yes"
                                        data-aria-controls="conditional-assistance"
                                />
                                <label
                                        class="govuk-label govuk-radios__label"
                                        for="conditional-assistance-2"
                                >
                                    Yes, give details
                                </label>
                            </div>
                            <div
                                    class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="conditional-assistance"
                            >
                                <div class="govuk-form-group">
                                    <textarea
                                            class="govuk-textarea"
                                            rows="2"
                                            id="details"
                                            name="details"
                                            spellcheck="false"
                                            aria-label="Details of the assistance provided"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                LPAs for
                                {% if details_data.personType == 'certificateProvider' %}
                                    certificate provider
                                {% else %}
                                    donor
                                {% endif %}
                                : {{ details_data.firstName }} {{ details_data.lastName }}
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    {#                                <dd></dd> #}
                                    <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                                        LPA reference number
                                    </dt>
                                    <dt class="govuk-summary-list__key">
                                        Donor
                                    </dt>
                                </div>
                                {% for index, datum in lpas_data %}
                                    <div class="govuk-summary-list__row">
                                        <dd class="govuk-summary-list__value govuk-!-width-two-thirds">
                                            {{ index }}
                                        </dd>
                                        <dd class="govuk-summary-list__value">
                                            {{ datum }}
                                        </dd>
                                    </div>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="govuk-form-group">
            <div class="govuk-body">
                <p>The results of this identity check have been saved.</p>
            </div>
        </div>
        <button class="govuk-button">Continue</button>
    </div>
{% endblock %}
