{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <div class="govuk-!-width-two-thirds">
        <div class="moj-alert moj-alert--success" role="region" aria-label="Success">
            <svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
                <path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
            </svg>
            <div class="moj-alert__content">
                {% block title %}
                    Identity check passed.
                {% endblock %}
            </div>
        </div>

        <h2 class="govuk-heading-m">
            What happens next?
        </h2>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Read the following to the caller:
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <p class="govuk-body">
                    If you haven’t  already, please return your paper LPA by post to OPG.
                </p>
                <p class="govuk-body">
                    The next step is we will check your LPA and be in touch with you if we have any further questions.
                    After this, we will be in contact with the certificate provider for the next steps.
                </p>
            </div>
        </div>

        <div class="govuk-tag--blue">
            <div class="govuk-body">
                <h2 class="govuk-!-margin-left-1 govuk-heading-m" style="color: #0C2D4A">For internal use only</h2>
            </div>
        </div>

        <form method="POST">
            <div class="govuk-form-group {% if form.get('assistance').messages %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            Did the donor have assistance from a friend or family member on this call?
                        </h1>
                    </legend>
                    {% if form.get('assistance').messages %}
                        <p id="assistance-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> {{ form.get('assistance').messages | join(', ', ' and ') }}
                        </p>
                    {% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input
                                class="govuk-radios__input"
                                id="conditional-assistance-1"
                                name="assistance"
                                type="radio"
                                value="no"
                            >
                            <label class="govuk-label govuk-radios__label" for="conditional-assistance-1">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input
                                class="govuk-radios__input"
                                id="conditional-assistance-2"
                                name="assistance"
                                type="radio"
                                value="yes"
                                data-aria-controls="conditional-assistance"
                            />
                            <label class="govuk-label govuk-radios__label" for="conditional-assistance-2">
                                Yes, give details
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-assistance">
                            <textarea
                                class="govuk-textarea"
                                rows="2"
                                id="details"
                                name="details"
                                spellcheck="false"
                                aria-label="Details of the assistance provided"
                            ></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button">Finish and return to Sirius</button>
        </form>
    </div>
{% endblock %}
