{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <div class="moj-banner__message moj-hidden">{% block title %}National insurance number{% endblock %}</div>
    <div class="moj-banner moj-banner--warning" role="region" aria-label="Warning">
        <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M18.1777 0.5H7.82233L0.5 7.82233V18.1777L7.82233 25.5H18.1777L25.5 18.1777V7.82233L18.1777 0.5ZM8.91549 6.87769L13.0001 10.9623L17.0847 6.87771L19.1224 8.91537L15.0378 13L19.1224 17.0846L17.0847 19.1222L13.0001 15.0376L8.91547 19.1223L6.87782 17.0846L10.9624 13L6.87783 8.91534L8.91549 6.87769Z"/>
        </svg>
        <div class="moj-banner__message">Unable to verify national insurance number.<br/><br/>Try a different method.</div>
    </div>
    <h3 class="govuk-heading-m">Name</h3>
    <p class="govuk-body">
        {{ details_data.firstName }} {{ details_data.lastName }}
    </p>
    <h3 class="govuk-heading-m">Date of Birth</h3>
    <p class="govuk-body">
        {{ formattedDob }}
    </p>
    <h3 class="govuk-heading-m">National Insurance number</h3>
    <p class="govuk-body">
        {{ nino_data.nino }}
    </p>
    <div class="govuk-button-group">
        <a href="./how-will-you-confirm" role="button" draggable="false"
            class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Try a different method
        </a>
    </div>
{% endblock %}
