<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Passport Check Complete
            </h1>
            <div class="govuk-panel__body">
                Passport Number<br><strong>{{ nino_data.nino }}</strong>
            </div>
        </div>
        <h2 class="govuk-heading-m">Name</h2>
        <p class="govuk-body">
            {{ details_data.Name }}
        </p>
        <h2 class="govuk-heading-m">Date of Birth</h2>
        <p class="govuk-body">
            {{ details_data.DOB }}
        </p>

        <p class="govuk-body">
            Thank you - your passport check is complete and verified. We now have four questions that we need to ask to confirm your identity.
        </p>

        <p class="govuk-body">
            I will read the questions to you and then read you a choice of answers. Take your time to answer them, if you need to look at any documents to help you answer them that is fine.
        </p>

        <p class="govuk-body">
            I can read you a choice of answers and you can pick your answer, or if you'd prefer you can just tell me the answer after the question.
        </p>
        <p class="govuk-body">
            <a href="./id-verify-questions" class="govuk-button">Continue</a>

            <a href="./address_verification" role="button" draggable="false"
               class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                Return To Start
            </a>
        </p>
    </main>
</div>
