{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <form method="POST">
        <h1 class="govuk-heading-xl govuk-!-width-two-thirds">{% block title %}Proving their identity{% endblock %}</h1>

        <p class="govuk-body govuk-!-width-two-thirds">
            Confirming their identity over the phone is the quickest and easiest option - they'll need an NI number,
            passport or driving licence and to answer some identity check questions during the call.

            Alternately, they can identify in-person at a Post Office - this will take longer and incurs a cost
        </p>

        <div class="govuk-warning-text govuk-!-width-two-thirds">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                The caller cannot ID over the phone due failing the security questions.
            </strong>
        </div>

        <div class="govuk-form-group govuk-!-width-two-thirds">
            <h2 class="govuk-heading-s">If unable to ID over the phone: ID in person at the Post Office</h2>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="VOUCHING" name="id_method" type="radio"
                        value="VOUCHING">
                <label class="govuk-label govuk-radios__label" for="VOUCHING">Post Office (current UK / EU /
                    international passport or driving licence)</label>
            </div>
        </div>

        <a href="./donor-lpa-check" class="govuk-button">Continue</a>
    </form>
{% endblock %}
