{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl moj-hidden">{% block title %}Not enough details to continue with this form of identification
        {% endblock %}</h1>
    <section class="govuk-!-width-two-thirds">
        <div class="moj-alert moj-alert--warning" role="region" aria-label="Warning">
            <svg class="moj-alert__icon" fill="currentColor" role="presentation" focusable="false"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"/>
            </svg>
            <div class="moj-alert__content">Not enough details to continue with this form of identification</div>
        </div>
    </section>
    <div class="govuk-form-group">
        <p class="govuk-body govuk-!-width-two-thirds">
            Sorry, although the identity details did match, we can’t use this form of ID to continue the check
            because there is not enough identity information available online to generate the necessary security
            questions. This is likely to be the same for national insurance number / passport / driving licence.
        </p>
    </div>
    <div class="govuk-button-group">
        <a
                href="./how-will-you-confirm"
                draggable="false"
                class="govuk-button moj-button-menu__item govuk-button"
                data-module="govuk-button"
        >
            Try a different method
        </a>
    </div>
{% endblock %}
