{% extends "layout/layout" %}

{% block beforeMain %}
    {% include 'layout/id_check_banner.twig' with details_data %}
{% endblock %}

{% block content %}
    <div class="govuk-!-width-two-thirds">

        {% if form.get('chooseVouching').messages %}
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% for message in form.get('chooseVouching').messages %}
                                <li>
                                    <a href="#chooseVouching">{{message}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        <h1 class="govuk-heading-xl">{% block title %}What is Vouching?{% endblock %}</h1>
        <div class="govuk-form-group">
            <p class="govuk-body">
                Vouching allows someone you know well to confirm your identity.
            </p>
            <p class="govuk-body">
                The person you ask to vouch for you will need to call us to prove their own identity and agree to a declaration that you are who you say you are.
            </p>
            <p class="govuk-body">
                We will send you a letter with the full details of the process and you will need to give the letter to the person you ask to vouch for you.
            </p>

            <p class="govuk-body">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">The person you choose must:</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>be aged 18 years or over</li>
                    <li>be able to confirm their own identity</li>
                    <li>have known you for at least 2 years</li>
                </ul>
            </p>

            <p class="govuk-body">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">The person you choose cannot be:</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>someone named on your LPA</li>
                    <li>in a relationship with you</li>
                    <li>a member of your family</li>
                    <li>living at the same address as you</li>
                </ul>
            </p>
        </div>
    </div>

    <form method="POST" class="govuk-!-width-two-thirds">
        <div class="govuk-form-group {% if form.get('chooseVouching').messages %}govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-heading-m" id="chooseVouching">Choose someone else to vouch for the donor's identity?</h2>
                </legend>
                {% if form.get('chooseVouching').messages %}
                <p id="chooseVouching-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>{{ form.get('chooseVouching').messages | join(', ', ' and ') }}
                </p>
                {% endif %}
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="chooseVouching-yes" name="chooseVouching" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="chooseVouching-yes">Yes, send the letter about vouching to the donor</label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="chooseVouching-no" name="chooseVouching" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="chooseVouching-no">No, choose a different method</label>
                </div>
            </fieldset>
        </div>

        <input type="submit" class="govuk-button" value="Continue">
    </form>
{% endblock %}