<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <h1 class="govuk-heading-xl">Who provides your personal mobile contract?</h1>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-fieldset__heading">
                        Select answer
                    </h2>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    {% for datum in mobile_data %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="{{ datum }}" name="mortgage_provider" type="radio" value="{{ datum }}">
                            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">{{ datum }}</label>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
            <input type="hidden" name="question3">
        </div>
        <button class="govuk-button">Continue</button>
    </main>
</div>
