plugin: openapi
specFile: openapi.yml

resources:
  - path: "/citizen-information/oauth2/token"
    method: post
    response:
      statusCode: 200
      file: data/tokenResponse.json

  - path: "/capi/v2/citizens/match"
    method: post
    requestBody:
      operator: Contains
      value: 2233
    response:
      statusCode: 200
      file: data/foundResponse.json

  - path: "/capi/v2/citizens/match"
    method: post
    requestBody:
      operator: Contains
      value: 7809
    response:
      statusCode: 200
      file: data/foundDwpMockResponse.json

  - path: "/capi/v2/citizens/match"
    method: post
    requestBody:
      operator: Contains
      value: 3123
    response:
      statusCode: 422
      file: data/ambiguousResponse.json

  - path: "/capi/v2/citizens/match"
    method: post
    response:
      statusCode: 404
      file: data/notFoundResponse.json

  - path: "/capi/v2/citizens/be62ed49-5407-4023-844c-97159ec80411"
    method: get
    response:
      statusCode: 200
      file: data/foundDetailsResponse.json

  - path: "/capi/v2/citizens/4aea28768e333a437f063bd3e4c62c51839204cff6a840a2de9faa4b288f6c43"
    method: get
    response:
      statusCode: 200
      file: data/foundDwpMockDetailsResponse.json
