<?php

/**
 * This file is loaded in local development to disable caching. This slows
 * down performance but ensures that config changes are seen immediately.
 * It also adds the Laminas Developer Tools to show profiling information
 * at the bottom of the page.
 */

declare(strict_types=1);

use Laminas\ConfigAggregator\ConfigAggregator;

return [
    'debug' => true,
    ConfigAggregator::ENABLE_CACHE => false,
];
