{% extends "layout/layout" %}

{% block content %}
    <h1 class="govuk-heading-l">
        A 404 error occurred
        <span class="govuk-caption-l">{{ message }}</span>
    </h1>

    <p class="govuk-body">
        {{ reasonMessage }}
    </p>
{% endblock %}
