<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        cacheDirectory=".phpunit.cache"
        displayDetailsOnIncompleteTests="true"
        displayDetailsOnSkippedTests="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        colors="true"
>
    <source>
        <include>
            <directory suffix=".php">./module/*/src</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="Laminas MVC Skeleton Test Suite">
            <directory>./module/*/test</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="API_BASE_URI" value="API_BASE_URI" />
        <env name="SIRIUS_BASE_URL" value="SIRIUS_BASE_URL" />
        <env name="SIRIUS_PUBLIC_URL" value="SIRIUS_PUBLIC_URL" />
        <env name="DISABLE_AUTH_LISTENER" value="1"/>
        <env name="PACT_MOCK_SERVER_HOST" value="pact-mock"/>
        <env name="PACT_MOCK_SERVER_PORT" value="80"/>
        <env name="PACT_CONSUMER_NAME" value="paper-identity"/>
        <!-- The provider name isn't actually used, but required for Pact to startup -->
        <env name="PACT_PROVIDER_NAME" value=""/>
    </php>
</phpunit>
