<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        cacheDirectory=".phpunit.cache"
        displayDetailsOnIncompleteTests="true"
        displayDetailsOnSkippedTests="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnPhpunitDeprecations="true"
        colors="true"
>
    <source>
        <include>
            <directory suffix=".php">./module/*/src</directory>
        </include>
    </source>

    <coverage>
        <report>
        <clover outputFile="./build/reports/coverage.xml"/>
        <html outputDirectory="./build/reports/coverage-report" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Laminas MVC Skeleton Test Suite">
            <directory>./module/*/test</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="API_BASE_URI" value="API_BASE_URI" />
        <env name="API_JWT_KEY" value="API_JWT_KEY" />
        <env name="SIRIUS_BASE_URL" value="SIRIUS_BASE_URL" />
        <env name="SIRIUS_PUBLIC_URL" value="SIRIUS_PUBLIC_URL" />
        <env name="DISABLE_AUTH_LISTENER" value="1"/>
        <env name="PACT_OUTPUT_DIR" value="/output"/>
        <env name="PACT_CONSUMER_NAME" value="paper-identity"/>
        <env name="PACT_PROVIDER_NAME" value="sirius"/>
    </php>
</phpunit>
