name: "[Job] Test"

on:
  workflow_call:
    inputs:
      branch:
        description: "Branch"
        required: true
        type: string
      tag:
        description: "Tag"
        required: true
        type: string
    secrets:
      pact_broker_password:
        description: 'Password for central OPG pact broker'
        required: true
      codecov_token:
          description: 'token to upload to codecov'
          required: true

defaults:
  run:
    shell: bash

permissions:
  contents: write
  security-events: write
  checks: write

env:
  COMPOSE_FILE: docker-compose.yml

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        service_name: [api, front]
        suite: [phpcs, psalm, unit-test]
    runs-on: ubuntu-latest
    name: Run ${{ matrix.service_name }} "${{ matrix.suite }}" tests
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.checkout_tag }}
      - name: Set up Docker
        run: |
          echo '{"experimental": true, "features": { "containerd-snapshotter": true }}' | sudo tee -a /etc/docker/daemon.json
          sudo systemctl restart docker
          docker run --privileged --rm tonistiigi/binfmt --install all
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: /tmp/images
          name: ${{ matrix.service_name }}-test-multi-arch
      - name: Load ${{ matrix.service_name }} Test Image
        run: |
          docker load -i /tmp/images/${{ matrix.service_name }}-test-multi-arch.tar
      - name: Create test output dir
        run: |
          mkdir -m 0777 service-${{ matrix.service_name }}/build
      - name: Set version env var
        run: |
          if [ "$GITHUB_HEAD_REF" == "" ]; then
              echo "PACT_CONSUMER_VERSION=${{github.sha}}" >> $GITHUB_ENV
          else
              echo "PACT_CONSUMER_VERSION=${{github.event.pull_request.head.sha}}" >> $GITHUB_ENV
          fi
      - name: Run Tests
        env:
          PACT_CONSUMER_BRANCH: ${{ inputs.branch }}
          PACT_CONSUMER_TAG: ${{ inputs.tag }}
          PACT_BROKER_PASSWORD: ${{ secrets.PACT_BROKER_PASSWORD }}
        run: |
          make ${{ matrix.service_name }}-${{ matrix.suite }}
      - name: Clean JUnit output
        if: always()
        run: |
          make -i clean-junit-output
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
        if: always()
        with:
          comment_mode: off
          files: service-${{ matrix.service_name }}/build/*.xml
          test_file_prefix: +service-${{ matrix.service_name }}/
          check_name: ${{ matrix.service_name }} ${{ matrix.suite }} tests
      - name: service ${{ matrix.service_name }} codecov upload
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        if: matrix.suite == 'unit-test'
        with:
          name: paper-id-${{ matrix.service_name }}
          directory: ./service-${{ matrix.service_name }}/build
          fail_ci_if_error: false
          flags: paper-id-${{ matrix.service_name }}
          token: ${{ secrets.CODECOV_TOKEN }}
  cypress:
    name: Cypress Tests
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Docker
        run: |
          echo '{"experimental": true, "features": { "containerd-snapshotter": true }}' | sudo tee -a /etc/docker/daemon.json
          sudo systemctl restart docker
          docker run --privileged --rm tonistiigi/binfmt --install all
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: api-multi-arch
          path: /tmp/images
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: front-multi-arch
          path: /tmp/images
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: api-test-multi-arch
          path: /tmp/images
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: front-test-multi-arch
          path: /tmp/images
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dwp-mock-multi-arch
          path: /tmp/images
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: experian-crosscore-auth-mock-multi-arch
          path: /tmp/images
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: experian-crosscore-mock-multi-arch
          path: /tmp/images
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: experian-iiq-mock-multi-arch
          path: /tmp/images
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: hmpo-mock-multi-arch
          path: /tmp/images
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: yoti-mock-multi-arch
          path: /tmp/images
      - name: Load Images
        run: |
          docker load -i /tmp/images/api-test-multi-arch.tar
          docker load -i /tmp/images/front-test-multi-arch.tar
          docker load -i /tmp/images/api-multi-arch.tar
          docker load -i /tmp/images/front-multi-arch.tar
          docker load -i /tmp/images/dwp-mock-multi-arch.tar
          docker load -i /tmp/images/experian-crosscore-auth-mock-multi-arch.tar
          docker load -i /tmp/images/experian-crosscore-mock-multi-arch.tar
          docker load -i /tmp/images/experian-iiq-mock-multi-arch.tar
          docker load -i /tmp/images/hmpo-mock-multi-arch.tar
          docker load -i /tmp/images/yoti-mock-multi-arch.tar
      - name: Run cypress
        run: make cypress
      - name: Store screenshots
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: failure()
        with:
          name: cypress-screenshots
          path: e2e-tests/cypress/screenshots
      - name: Write logs to file
        if: failure()
        run: docker compose logs > test.log
      - name: Store logs
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: failure()
        with:
          name: logs
          path: test.log
