name: "Main Workflow"

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  actions: read
  checks: write
  contents: write
  id-token: write
  pull-requests: write
  security-events: write

env:
  COMPOSE_FILE: docker-compose.yml

jobs:
  # generate a branch name
  branch_name:
    name: Identify version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: "0"
      - name: Define commit SHA and branch
        id: commit_branch
        run: |
          if [ "$GITHUB_HEAD_REF" == "" ]; then
              echo "COMMIT=${{github.sha}}" >> $GITHUB_OUTPUT
              echo "BRANCH=main" >> $GITHUB_OUTPUT
          else
              echo "COMMIT=${{github.event.pull_request.head.sha}}" >> $GITHUB_OUTPUT
              echo "BRANCH=$GITHUB_HEAD_REF" >> $GITHUB_OUTPUT
          fi
    outputs:
      commit: ${{ steps.commit_branch.outputs.COMMIT }}
      branch_name: ${{ steps.commit_branch.outputs.BRANCH }}

  # generate tag & timestamp
  create-tag:
    name: Create Tags
    uses: ./.github/workflows/create-tags.yml

  build:
    name: Build and Scan
    uses: ./.github/workflows/build-scan.yml
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  test:
    name: Test
    needs: [branch_name, build, create-tag]
    uses: ./.github/workflows/test.yml
    with:
      branch: ${{ needs.branch_name.outputs.branch_name }}
      tag: ${{ needs.create-tag.outputs.tag }}
    secrets:
      pact_broker_password: ${{ secrets.PACT_BROKER_PASSWORD }}
      codecov_token:  ${{ secrets.CODECOV_TOKEN }}

  push:
    name: "ECR push"
    runs-on: ubuntu-latest
    needs: [build, test, create-tag]
    strategy:
      fail-fast: true
      matrix:
        include:
          - ecr_repository: paper-identity/api
            service_name: api
          - ecr_repository: paper-identity/front
            service_name: front
          - ecr_repository: paper-identity/dwp-mock
            service_name: dwp-mock
          - ecr_repository: paper-identity/experian-crosscore-auth-mock
            service_name: experian-crosscore-auth-mock
          - ecr_repository: paper-identity/experian-crosscore-mock
            service_name: experian-crosscore-mock
          - ecr_repository: paper-identity/experian-iiq-mock
            service_name: experian-iiq-mock
          - ecr_repository: paper-identity/hmpo-mock
            service_name: hmpo-mock
          - ecr_repository: paper-identity/yoti-mock
            service_name: yoti-mock
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Docker
        run: |
          echo '{"experimental": true, "features": { "containerd-snapshotter": true }}' | sudo tee -a /etc/docker/daemon.json
          sudo systemctl restart docker
          docker run --privileged --rm tonistiigi/binfmt --install all
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: /tmp/images
          name: ${{ matrix.service_name }}-multi-arch
      - name: Load ${{ matrix.ecr_repository }} Image
        run: |
          docker load -i /tmp/images/${{ matrix.service_name }}-multi-arch.tar
      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # 1.0.8
      - name: Configure OIDC AWS credentials for ECR push
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::311462405659:role/paper-identity-ecr-role
          role-session-name: opg-paper-identity-github-actions-ecr-push
          role-duration-seconds: 900
          aws-region: eu-west-1
      - name: ECR Login
        id: login_ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registries: 311462405659
      - name: Push & Tag
        env:
          SEMVER_TAG: ${{ needs.semver_tag.outputs.tag }}
          TIMESTAMP: ${{ needs.timestamp.outputs.timestamp }}
          ECR_REGISTRY: ${{ steps.login_ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ matrix.ecr_repository }}
        run: |
          docker tag ${{ steps.login_ecr.outputs.registry }}/${{ matrix.ecr_repository }}:latest $ECR_REGISTRY/$ECR_REPOSITORY:${{ needs.create-tag.outputs.tag }}
          if ${{ github.ref == 'refs/heads/main' }}; then
            docker tag ${{ steps.login_ecr.outputs.registry }}/${{ matrix.ecr_repository }}:latest $ECR_REGISTRY/$ECR_REPOSITORY:main-${{ needs.create-tag.outputs.tag }}
            docker tag ${{ steps.login_ecr.outputs.registry }}/${{ matrix.ecr_repository }}:latest $ECR_REGISTRY/$ECR_REPOSITORY:main-${{ needs.create-tag.outputs.tag }}-${{ needs.create-tag.outputs.timestamp }}
            docker push --all-tags $ECR_REGISTRY/$ECR_REPOSITORY
          else
            docker push $ECR_REGISTRY/$ECR_REPOSITORY:${{ needs.create-tag.outputs.tag }}
          fi

  end_of_pr_workflow:
    name: End of PR Workflow
    runs-on: ubuntu-latest
    if: always()
    needs: [branch_name, test, create-tag, build, push]
    steps:
      - name: End of PR Workflow
        run: |
          if ${{ contains(needs.*.result,'failure') }}
          then
            echo "Not all checks succedeed, check the previous jobs."
            exit 1
          else
            echo "All checks succedeed!"
            exit 0
          fi

  push-tags:
    runs-on: ubuntu-latest
    needs: [create-tag, end_of_pr_workflow]
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Configure OIDC AWS credentials for SSM create
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::997462338508:role/paper-identity-ssm-role
          role-session-name: opg-paper-identity-github-actions-ssm-push
          role-duration-seconds: 900
          aws-region: eu-west-1

      - name: Install AWS CLI
        uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # 1.0.8

      - name: Push Tag to Parameter Store
        run: |
          aws ssm put-parameter --name "opg-paper-identity-latest-green-build" --type "String" --value "${{ needs.create-tag.outputs.tag }}" --overwrite --region=eu-west-1

      - name: Trigger Dev Deploy
        shell: bash
        run: curl -u ${{ secrets.JENKINS_API_USER }}:${{ secrets.JENKINS_API_TOKEN }} "https://${{ secrets.JENKINS_URL }}/job/Sirius/job/Deploy_to_Development/build?token=${{ secrets.JENKINS_API_TOKEN_NAME }}&cause=Triggered+by+opg-paper-identity"
